{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules" : {
    "no-undef": 0,
    "no-alert": 0,
    "no-use-before-define": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-dupe-class-members": 0,
    "no-new": 1,
    "no-param-reassign": 1,
    "max-classes-per-file": 1,
    "class-methods-use-this": 1,
    "max-len": 1
  }
}